<ul class="nav-pills ml-auto">
    <li class="nav-item"><a href="~/News/Create" class="nav-link">Wpis do bloga</a></li>
    <li class="nav-item"><a href="~/Menu/Create" class="nav-link">Zarzadzaj Menu</a></li>
    <li class="nav-item"><a href="~/Role/AddToRole" class="nav-link">Przypisz uzytkownika jako Administratora</a></li>
    <li class="nav-item"><a href="~/Account/Logout" class="nav-link">Wyloguj</a></li>
    </ul>
