<!DOCTYPE html>

<html>
<head>
    <style>
        div{
            margin: 0;
            position: absolute;
            top: 25%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form asp-action="Login" method="post">
            <label>Login</label>
            <input type="text" class="form-control" name="Login" /> <br />
            <label>Password</label>
            <input type="password" class="form-control" name="Password" /> <br />

            <input type="submit" value="Wyślij" />
        </form>
        <div asp-validation-summary="All"></div>
    </div>
</body>
</html>