
    <div>
        <form asp-action="Register" method="post">
            <label>Login</label>
            <input type="text" class="form-control" placeholder="Wpisz Login" name="Login" /><br />
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Wpisz Email" name="Email" /><br />
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Wpisz Haslo" name="Password" /><br />
            <label>Repeat Password</label>
            <input type="password" class="form-control" placeholder="Powtorz Haslo" name="RepeatPassword" /><br />

            <input type="submit" class="form-control" value="Wyslij" />
        </form>
    </div>
    <div asp-validation-summary="All"></div>
